# postgres
POSTGRES_USER=appuser
POSTGRES_PASSWORD=trocar
POSTGRES_DB=appdb

# turn server
EXTERNAL_IP=SEU_IP_PUBLICO_AQUI
TURN_REALM=seu-dominio.com
TURN_USER=webrtcuser
TURN_PASS=senha_forte_aqui

DOMAIN=seu-dominio.com
