API_PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database_name

JWT_SECRET=
JWT_EXPIRES_IN=10d

GOOGLE_CLIENT_ID=your-id
GOOGLE_CLIENT_SECRET=your-secret
